header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 1rem;
}

.table__container__wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;

    &__days-list {
        display: flex;
        flex-direction: row-reverse;
        gap: 2em;
    }

    &__days-list ul {
        color: #d2d2d2;
        min-width: 50px;
        list-style: none;
        text-align: right;
        font-size: 1.2em;
        height: max-content;
        display: grid;
        gap: 1em;

        &>li {
            cursor: pointer;
            position: relative;

            span {
                display: block;
                font-size: .8em;
                opacity: .6;
            }

            &.active-day {
                font-weight: bold;
                color: whitesmoke;
            }



            &::after {
                content: '';
                position: absolute;
                width: .2em;
                height: 50%;
                background-color: lightcoral;
                margin-inline-start: .5em;
                opacity: 0;
                transition: opacity .2s ease;


            }


            &.active-day::after {
                opacity: 1;
            }

            &:hover::after {
                opacity: 1;
                background-color: steelblue;

            }
        }
    }
}



.full {
    background: rgba(144, 238, 144, 0.2);
    font-weight: bold;
}

.partial {
    background: rgba(240, 128, 128, 0.2);
}

.btn-table {
    width: 100%;
    aspect-ratio: 2/1;
    padding: 1em;
    background-color: transparent;
    border: 1px solid #2c2c2c;
    border-radius: .5em;
    font-weight: bold;
    cursor: pointer;

    transition: border-color .2s ease, color .2s ease;

    &:hover {
        border-color: firebrick;
        color: firebrick;
    }

    &.active {
        border-color: firebrick;
        color: firebrick;
        position: relative;

        &::before {
            content: '>';
            position: absolute;
            right: -1em;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
            font-size: 1.5rem;

        }
    }
}

.table-heading {
    width: max-content;
    margin-block-end: 1rem;
    margin-inline: auto;
}