.list {
    max-height: 90vh;
    min-width: 12rem;
    overflow-x: auto;
    margin-inline: auto;
    text-align: center;
    border-radius: .1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .table {
        border-collapse: collapse;
        position: relative;
        font-size: .9em;
        width: 100%;

        th {
            position: sticky;
            top: 0;
            background: #181818;
            color: whitesmoke;
        }

        tr:nth-child(2n) {
            background-color: #636363;
        }

        tr:nth-child(2n + 1) {
            background-color: #2c2c2c;
        }

        th,
        td {
            color: whitesmoke;
            padding: 1em 1.5em;
        }
    }

}