.profile {
    width: 100%;
    color: white;


    & p {
        display: flex;
        flex-direction: column;
        font-size: .9rem;
        color: #acacac;

        & span {
            font-size: 1.1rem;
            color: whitesmoke;
        }
    }



    &__info {
        width: max-content;
        padding: 1rem;
        margin-inline-start: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        text-align: right;
        gap: 5em;
        border: 1px solid rgba(255, 255, 255, 0.1);

        &__table-settings {
            align-self: flex-start;
            display: grid;
            gap: 1em;
        }

        &__personal {
            display: grid;
            gap: 1em;

        }

        &__contact {
            display: grid;
            gap: 1em;

        }

        h1 {
            color: lightcoral;
        }
    }
}

h3 {
    text-align: right;
    font-size: 1.5rem;
    margin-block-start: 1rem;
}

.btn-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-block: 1rem;

    & button {
        border: none;
        padding: 1rem 1.5rem;
        cursor: pointer;
        border-color: transparent;
        transition: border-color .3s ease;

        &.active {
            border: 1px solid #2c2c2c;
        }
    }
}

.split {
    display: grid;
    gap: 1em;
}