.constraints-form {
    max-width: max-content;
    margin-inline-end: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35);

    &__wrapper {
        border: 1px solid #2c2c2c;
    }


    &__shifts {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    &__day {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;


        &:not(:last-of-type) {
            & input[type='text'] {
                border-bottom: 1px solid #2c2c2c;
            }

            & label {
                border-bottom: 1px solid #2c2c2c;
            }
        }

        & label {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            place-items: center;
            border-right: 1px solid #2c2c2c;
            transition: background-color .2s ease;
            color: whitesmoke;

            & span {
                padding: 1rem 1.5rem;
                cursor: pointer;
            }

            &.rejected-shift {
                background-color: rgba(240, 128, 128, 0.5);
            }
        }

    }

    & p {
        min-width: 180px;
        padding-block: 1rem;
        padding-inline: 1rem;
        text-align: center;
        color: #d2d2d2;
        background-color: #505050;

        &:not(:first-of-type) {
            border-right: 1px solid #2c2c2c;
        }
    }

    & input[type="checkbox"] {
        cursor: pointer;
    }

    & input[type="text"] {
        border: none;
        padding: 1em;
        width: 100%;
        height: 100%;
        border-right: 1px solid #2c2c2c;
    }
}

.btn-form {
    border: 0;
    display: block;
    padding: 1em 2em;
    margin-block: 1em;
    margin-inline-start: auto;
    background-color: #2c2c2c;
    color: whitesmoke;
    cursor: pointer;
}