.constraints {
    max-width: max-content;
    margin-inline-end: auto;
    border: 1px solid #2c2c2c;
    border-top: none;
    border-right: none;

    &__shifts {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-left: 0;

        &>p {
            min-width: 180px;
            padding-block: 1rem;
            padding-inline: 1rem;
            text-align: center;
            color: whitesmoke;
            border: 1px solid #2c2c2c;
            background-color: #505050;

            &:not(:last-of-type) {
                border-left: 0;
            }

            &:last-of-type {
                border-left: none;
            }
        }
    }

    &__day {
        width: max-content;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-right: 1px solid #2c2c2c;

        & .notes {
            color: rgb(0 0 0 / .5);
            font-size: .8em;
        }

        &>p {
            padding-block: 1rem;
            padding-inline: 1rem;
            width: 180px;
            text-align: center;

            &.rejected-shift {
                background-color: rgba(240, 128, 128, 0.5);
            }




            &:first-of-type {
                background-color: #505050;
                color: whitesmoke;
            }


            &:not(:first-of-type, :last-of-type) {
                border-left: 1px solid #2c2c2c;
            }
        }

        &:not(:last-child)>p:not(:first-of-type) {
            border-bottom: 1px solid #2c2c2c;
        }

        &:not(:last-child)>p:first-of-type {
            border-bottom: 1px solid whitesmoke;
        }
    }
}