.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-width: 260px;
    border: 1px solid black;
    display: flex;
    font-size: 1em;
    gap: 2em;
    background: #202020;
    color: whitesmoke;

    &.true {
        min-width: 100px;
    }

    &__item:first-of-type {
        margin-block-start: 5em;
    }

    &__item {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 1.5em;
        background: #404040;
        border-radius: .5em;
        cursor: pointer;
        scale: 1;
        transition: scale .2s ease;

        &>.icon.false {
            margin-inline-start: 1em;
        }

        &.true {
            width: 50px;
            display: grid;
            place-items: center;
        }

        &:hover {
            scale: 1.05;
        }
    }
}