.public-table {
    display: grid;
    place-items: center;
}

.day {
    font-size: .8rem;
    margin-block-end: 2rem;
    border-radius: 20px;
    overflow: hidden;

    h1 {
        text-align: center;
        color: whitesmoke;
        background: steelblue;
        padding-block: .5em;
        margin: 0;
    }



    &__container {
        display: flex;

        &>.shift:not(:last-of-type) {
            border-inline-end: 1px solid whitesmoke;
        }
    }
}

.shift {
    background: #2C2C2C;
    text-align: center;
    width: 120px;

    &>a {
        display: block;
        padding: 1em 1.5em;
        text-align: center;
        text-decoration: none;
        color: whitesmoke;
        transition: scale .2s ease;
    }

    &>a:hover {
        color: lightgreen;
        cursor: pointer;
        scale: 1.05;
    }

    &>a:visited {
        color: steelblue;
        cursor: pointer;
    }

    &>p {
        padding: 1em 1.5em;
        margin: 0;
    }
}

.hidden {
    display: none;
}

.full {
    background: lightgreen;
}

.missing {
    background: lightcoral;
}