*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    border: 0;
    background: #202020;
    color: whitesmoke;
    cursor: pointer;
    border-radius: .5em;
    transition: border-radius .2s ease;
}

.btn:hover {
    border-radius: 1em;
}