*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    margin-block-start: 1em;
    border: 0;
    background: #202020;
    padding: 1em 1.5em;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    border-radius: .5em;
    scale: 1;
    transition: border-radius .2s ease,
        scale .2s ease;
}

.btn:active {
    scale: .95;
}

.btn:hover {
    border-radius: 1em;
}

.btn-primary {
    background-color: steelblue;
}

.btn-success {
    background-color: hsl(120, 50%, 50%);
}

.btn-secondary {
    background: gray;
}

.btn-danger {
    background-color: hsl(0, 79%, 60%);
}

.btn-flex-container {
    display: flex;
    gap: .5em;

    &>button {
        width: max-content;
    }
}