*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    margin-block-start: 1em;
    border: 0;
    background: #202020;
    padding: 1em 1.5em;
    color: whitesmoke;
    cursor: pointer;
    border-radius: .5em;
    transition: border-radius .2s ease;
}

.btn:hover {
    border-radius: 1em;
}

.btn-primary {
    background-color: steelblue;
}

.btn-success {
    background-color: teal;
}

.btn-secondary {
    background: gray;
    color: #2c2c2c;
}

.btn-failure {
    background-color: firebrick;
}

.btn-flex-container {
    display: flex;
    gap: .5em;

    &>button {
        width: max-content;
    }
}