.main {
    display: flex;
    position: relative;
    gap: 1em;

    .content {
        flex-grow: 10;
        overflow-x: auto;
        padding: 1em;
    }

    .sidebar {
        flex-grow: 1;
        max-width: max-content;
    }
}

.main::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -9999999;
    background-color: #444343;
}